/* ESSE É UM ARQUIVO SEPARADO QUE SERVE PARA IMPOR O ESTILO DO CÓDIGO */ 

.btn-custom {
    background-color: #ba5e3b;
    color: #fff;
    /* Define a cor do texto para branco */
}

.icon-container {
    text-align: center;
}

.icon-container img {
    margin-bottom: 1px;
    /* Espaçamento entre o ícone e o texto */
}

.list-inline .icon-container p {
    font-size: 14px;
    /* Ajuste do tamanho da fonte conforme necessário */
    font-family: 'Saira Extra Condensed', sans-serif;
    /* Usar a fonte 'Saira Extra Condensed' */
    /* font-weight: bold; */
    letter-spacing: 0.3px;
}

.icon-container {
    transition: color 0.3s ease;
    /* Adiciona transição para a propriedade color */
}

.icon-container:hover {
    color: #ba5e3b;
    /* Cor ao passar o mouse */
}

.icon-container img {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    /* Adiciona transição para a propriedade filter */
}

.icon-container img:hover {
    filter: none;
    /* Retorna a imagem do jeito original */
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.fa-ul {
text-align: justify;
}

.sobre-mim {
    font-size: auto;
    text-align: justify;
}

h2.mb-5 {
    margin-bottom: 2rem;
}

h3.mb-3 {
    margin-bottom: 1rem;
}    

/* Parte para o novo escopo de layout */

.project {
display: flex;
align-items: center;
justify-content: space-between;
margin: 50px 0;
}

.project-content {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.project-img img {
    width: 275px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.project-info {
    margin-left: 20px;
    max-width: 60%;
}

.project-title {
font-size: 1.8rem;
font-weight: bold;
margin-bottom: 10px;
text-align: justify;
}

.project-description {
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: justify;
}

.project-technologies {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
    text-align: justify;
}

.project-img img:hover {
    transform: scale(1.05);
}     

/* Parte dos links */
.project-links {
    display: flex;
    align-items: baseline; 
    gap: 20px; 
}

.project-link {
    font-size: 0.95rem;
    color: #ba5e3b;
    text-decoration: none;
    font-weight: bold;
}

.second-link {
    color: #ba5f3bcc;
}      